<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
  <h1>
    Welcome!
  </h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ary 1</td>
        <td>{{arys[0].join('-')}}</td>
      </tr>
      <tr>
        <td>ary 2</td>
        <td>{{arys[1].join('-')}}</td>
      </tr>
      <tr>
        <td>Result:</td>
        <td>{{arys[0].concat(arys[1]).join('-')}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="regen()">Regenerate arrays</button>
  </div>
</div>
